<!--
  Generated template for the AddEditAccount page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ mode }} Account</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form (ngSubmit)="onSubmit()" #editAccountForm="ngForm">
    <ion-list>
      <ion-item>
        <ion-label stacked for="accountName">Account Name</ion-label>
        <ion-input type="text" id="accountName" name="accountName" required [(ngModel)]="model.accountName" #accountName="ngModel"></ion-input>
      </ion-item>
      <div *ngIf="accountName.invalid && accountName.touched" class="error-box">Account name is required</div>
      <ion-item>
        <ion-label stacked for="initialBalance">Initial Balance</ion-label>
        <ion-input type="number" id="initialBalance" name="initialBalance" required [(ngModel)]="model.initialBalance" #initialBalance="ngModel"></ion-input>
        <div *ngIf="initialBalance.invalid && initialBalance.touched" class="error-box">Initial Balance is required</div>
      </ion-item>
    </ion-list>
    <button ion-button full type="submit" [disabled]="!editAccountForm.valid">
      <i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;&nbsp;Save
    </button>
  </form>
</ion-content>
