// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
font-family: 'Stirling Money';
src:
url('Fonts/Stirling Money.ttf') format('truetype'),
url('Fonts/Stirling Money.woff') format('woff'),
url('Fonts/Stirling Money.eot') format('eot'),
url('Fonts/Stirling Money.svg?#Stirling Money') format('svg');
font-weight: normal;
font-style: normal;
}

// .sm {
//   font
// }

.sf-icon-cheque-01 { content: "\e700"; }
.sf-icon-account-payable { content: "\e701"; }
.sf-icon-atm-01-wf { content: "\e702"; }
.sf-icon-atm-01 { content: "\e703"; }
.sf-icon-money-transfer { content: "\e704"; }

.primary {
  color: color($colors, primary, base);
}

.secondary {
  color: color($colors, secondary, base);
}

.danger {
  color: color($colors, danger, base);
}

.success {
  color: color($colors, success, base);
}

.light {
  color: color($colors, light, base);
}

.dark {
  color: color($colors, dark, base);
}

ion-item.ng-invalid.ng-touched .item-inner {
  border-bottom: 2px solid color($colors, danger, base) !important;
}

ion-input {
  padding-left: 5px;
}

ion-input.ng-valid.ng-touched[required], ion-input.ng-valid.ng-touched.required  {
  border-left: 5px solid color($colors, success, base);
}

ion-input.ng-invalid.ng-touched {
  border-left: 5px solid color($colors, danger, base);
}

ion-list .error-box {
    margin-left: 16px;
    padding: 5px;
    border-left: 1px solid color($colors, danger, base);
    border-right: 1px solid color($colors, danger, base);
    border-bottom: 1px solid color($colors, danger, base);
    background: rgba(color($colors, danger, base), 0.1);
    color: color($colors, danger, base);
}
