<ion-split-pane>
  <ion-menu [content]="content">
    <ion-header>
      <ion-toolbar color="secondary">
        <ion-title>Stirling Money</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list *ngIf="loggedIn">
        <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
          <i class="fa fa-{{p.icon}} {{p.color}}" aria-hidden="true"></i>
          {{p.title}}
        </button>
        <button menuClose ion-item (click)="logout()">
          <i class="fa fa-sign-out danger" aria-hidden="true"></i>
          <span class="danger">Logout</span>
        </button>
      </ion-list>
      <ion-list *ngIf="!loggedIn">
        <button menuClose ion-item (click)="login()">
          <i class="fa fa-sign-in success" aria-hidden="true"></i>
          Login
        </button>
      </ion-list>
    </ion-content>

  </ion-menu>

  <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false" main></ion-nav>
</ion-split-pane>
