<!--
  Generated template for the AccountDetails page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{model.accountName}}</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-item>
      <ion-thumbnail item-left>
        <img src="assets/account-icons/Accounts-Book.png">
      </ion-thumbnail>
      <h3>Available Balance: <span class="pull-right">{{model.availableBalance | currency:'USD':true}}</span></h3>
      <p>Posted Balance: <span class="pull-right">{{model.postedBalance | currency:'USD':true}}</span></p>
    </ion-item>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar (ionInput)="filterList($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item-group *ngFor="let dateGroup of model.transactionDates">
      <ion-item-divider color="light">{{ formatDate(dateGroup.transactionDate) }}</ion-item-divider>
      <ion-item-sliding *ngFor="let transaction of dateGroup.transactions">
        <ion-item>
          <ion-label>
            <ion-grid no-padding>
              <ion-row>
                <ion-col>
                  {{transaction.location}}
                </ion-col>
                <ion-col col-4 [ngClass]="{danger: transaction.amount < 0}">
                  <span class="pull-right">{{transaction.amount | currency:'USD':true}}</span>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col text-muted>
                  {{transaction.description}}
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item-options side="left">
          <button ion-button color="primary">
            <ion-icon name="create"></ion-icon>
            Edit
          </button>
        </ion-item-options>
        <ion-item-options side="right">
          <button ion-button color="danger" (click)="deleteTransaction(transaction)">
            <ion-icon name="trash"></ion-icon>
            Delete
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-item-group>
  </ion-list>
  <ion-fab bottom right #fab>
    <button ion-fab><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab (click)="withdraw(fab)"><i class="sm-icon-atm-01" aria-hidden="true"></i></button>
      <button ion-fab><i class="sm-icon-cheque-01" aria-hidden="true"></i></button>
      <button ion-fab><i class="sm-icon-money-transfer" aria-hidden="true"></i></button>
      <button ion-fab><i class="sm-icon-accounts-receivable" aria-hidden="true"></i></button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
