$alegreyasanssc-font-path: $font-path !default;

@font-face {
  font-family: "Alegreya Sans SC";
  font-style: normal;
  font-weight: 300;
  src: local("Alegreya Sans SC Light"),
  local("Alegreya-Sans-SC-Light"),
  url("#{$alegreyasanssc-font-path}/alegreyasanssc-light.ttf") format("truetype"),
  url("#{$alegreyasanssc-font-path}/alegreyasanssc-light.woff2") format("woff2"),
  url("#{$alegreyasanssc-font-path}/alegreyasanssc-light.woff") format("woff");
}

@font-face {
  font-family: "Alegreya Sans SC";
  font-style: normal;
  font-weight: 500;
  src: local("Alegreya Sans SC Regular"),
  local("Alegreya-Sans-SC-Regular"),
  url("#{$alegreyasanssc-font-path}/alegreyasanssc-regular.ttf") format("truetype"),
  url("#{$alegreyasanssc-font-path}/alegreyasanssc-regular.woff2") format("woff2"),
  url("#{$alegreyasanssc-font-path}/alegreyasanssc-regular.woff") format("woff");
}
